
input{
  margin-left: 8px;
}

.afterQ1{
  display: none;
}
.submit-btn{
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.result{
  display: none;
  margin: 10px 10px;
}
.neko-message{
  display: inline-block;
  margin: 10px 10px;
}
.neko{
  display: inline-block;
}
.descriptions{
  font-size: larger;
}
.neko2{
  margin: auto;
}

