.form-container{
  display: none;
}
input{
  margin-left: 8px;
}

.afterQ1{
  display: none;
}
.submit-btn{
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.result{
  display: none;
  margin: 10px 10px;
}
.neko-message{
  display: inline-block;
  margin: 10px 10px;
}
.neko{
  display: inline-block;
}
.descriptions{
  font-size: larger;
}
.neko2{
  margin: auto;
}
.afterq1{
  margin-top: 4px;
  margin-bottom: 4px;
}
#top-neko{
  float: left;
}

.top-neko:after {
  /* Clear float from #top-neko */
  content: "";
  display: table;
  clear: both;
}

